# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build Output
dist/
build/

# Environment Variables (IMPORTANT: Keep keys secret)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS System Files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Optional: if you use specific extensive formatting
.eslintcache